/*FONT*/
body {
    font-family: 'Ubuntu', sans-serif;
}

/*HEADER*/

header {
    background-color: black;
    color: rgb(211, 82, 104);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav {
    justify-content: center;
}

#header_logo {
    margin-top: 10px;
    text-align: center;

}

.icon_logo,
.icon_logo:hover,
.icon_logo:active,
.icon_logo:focus {
    margin-top: 10px;
    font-size: 40px;
    color: rgb(211, 82, 104);
    text-decoration: none;
}

.liheader {
    color: rgb(211, 82, 104);
}

.liheader:focus {
    color: rgb(211, 82, 104);
}

.liheader:visited {
    color: rgb(211, 82, 104);
}

.liheader:visited:hover {
    color: white;
}

.liheader:hover {
    color: white;
}

.icon_search {
    color: rgb(211, 82, 104);
    border-color: rgb(211, 82, 104);
    box-shadow: none;
}

.icon_search:hover {
    color: rgb(211, 82, 104);
    border-color: rgb(211, 82, 104);
    background-color: transparent;
    box-shadow: none;
}

.icon_search:focus {
    color: rgb(211, 82, 104);
    border-color: rgb(211, 82, 104);
    background-color: transparent;
    box-shadow: none;
}

.icon_search:active {
    color: rgb(211, 82, 104);
    border-color: rgb(211, 82, 104);
    background-color: transparent;
    box-shadow: none;
}

.icon_search:active:focus {
    box-shadow: none;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 20px;
}

#menuToggle {
    display: none;
}

.menu-icon {
    display: none;
}

#header_shearch {
    margin-top: 20px;
}

/*MAIN*/

h1,
h2,
h3,
h4,
h5 {
    margin: 0%;
}

ul {
    list-style-type: none;
}

p {
    text-align: start;
    text-justify: inter-word;
}

main {
    padding: 0px;
    text-align: center;
    color: black;
    background-color: rgb(211, 82, 104);
}

.load_m {
    color: rgb(211, 82, 104);
    margin-top: 20px;
    margin-bottom: 40px;
}

.card {
    background-color: rgb(229, 226, 226);
    height: 650px;
    margin-top: 10px;
}

.card-title {
    height: 50px;
    overflow: auto;
}

.card-text {
    height: 100px;
    box-sizing: border-box;
    overflow: auto;
}

.card-img-top {
    height: 400px;
}

/*Populars*/
#load_more_p {
    text-align: right;
}

.loadp {
    display: none;
}

.loadp:nth-child(2),
.loadp:nth-child(3),
.loadp:nth-child(4),
.loadp:nth-child(5) {
    display: block;
}

/*Latest*/
#divLatestMovies {
    color: rgb(211, 82, 104);
    background-color: rgb(0, 0, 0, 0.7);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
    padding: 10px;

}

#cardLm {
    display: flex;
    width: 450px;
    height: 650px;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
}


.lmtext {
    text-align: center;
}

/*Now Playing*/
#load_more_np {
    text-align: right;
}

.loadnp {
    display: none;
}

.loadnp:nth-child(2),
.loadnp:nth-child(3),
.loadnp:nth-child(4),
.loadnp:nth-child(5) {
    display: block;
}

/*Detalhes*/
#divSeeMore {
    background-color: rgb(0, 0, 0, 0.7);
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 20px;
    color: white;
}

.card-Det>.card-img-top-det {
    padding: 2%;
    height: 550px;
    border-radius: 20px;
}

.card-Det-L>.card-img-top-det{
    padding: 2%;
    height: 500px;
    width: 450px;
    border-radius: 20px;
}



/*FOOTER*/

footer {
    background-color: black;
    color: rgb(211, 82, 104);
    width: 100%;
}

#footer_info {
    text-align: center;
    padding: 0%;
    padding-top: 15px;

}

#footer_logo {
    text-align: left;
    padding: 0%;
}

@media screen and (max-width: 600px) {


    .header-fix {
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 994;
    }

    .header nav {
        display: absolute !important;
        width: 100%;
        height: 100%;
        z-index: 995;
    }



    .menu {
        display: flex;
        position: fixed;
        flex-wrap: wrap;
        align-content: center;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 0%;
        background-color: rgba(0, 0, 0, 0.7);
        overflow: hidden !important;
        -webkit-transition: height 0.3s;
        -moz-transition: height 0.3s;
        -ms-transition: height 0.3s;
        -o-transition: height 0.3s;
        transition: height 0.3s;
        z-index: 996;
    }

    .menu li {
        display: block;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 20px;
        z-index: 997;
    }

    .menu li a {
        display: block;
        text-align: center;
        width: 100%;
        z-index: 998;

    }

    .menu-icon {
        width: 50px;
        height: inherit;
        display: block;
        position: absolute !important;
        top: 15px;
        right: 30px;
        line-height: 60px;
        color: rgb(211, 82, 104);
        z-index: 999;
    }

    #menuToggle:checked~label i:nth-child(2) {
        display: block;
    }

    #menuToggle:checked~label i:first-child {
        display: none;
    }

    #menuToggle:not(:checked)~label i:first-child {
        display: block;
    }

    #menuToggle:not(:checked)~label i:nth-child(2) {
        display: none;
    }

    #menuToggle:checked~ul {
        height: 100%;
    }

    .menu-icon i {
        font-size: 1.7em;
    }

    #header_shearch {
        display: none;
    }

    #title_func {
        text-align: center;
    }

    #divPopularMovies {
        margin-top: 60px;
    }

    #cardLm {
        margin-left: 0%;
    }

    #divSeeMore {
        text-align: center;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 60px;
    }

    #pesquisaTitle {
        margin-top: 60px;
    }

    .card-Det>.card-img-top-det {
        padding: 2%;
        height: 450px;
        border-radius: 20px;
    }

    .card-Det-L>.card-img-top-det {
        padding: 2%;
        height: 450px;
        width: 80%;
        border-radius: 20px;
    }

    #footer_logo {
        padding-top: 20px;
        text-align: center;
    }

}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    .nav {
        justify-content: center;
    }

    #header_shearch {
        margin-bottom: 20px;
    }

    #title_func {
        text-align: center;
    }

    #cardLm {
        margin-left: 15%;
    }

    .card-Det>.card-img-top-det {
        padding: 2%;
        height: 500px;
        width: 98%;
        border-radius: 20px;
    }
    .card-Det-L>.card-img-top-det {
        padding: 2%;
        height: 500px;
        width: 100%;
        border-radius: 20px;
    }

    #img_out {
        width: 50%;
        height: 345px;
        margin-left: 175px;
    }

    #footer_logo {
        text-align: center;
    }

}